$white: #fff;
$black: #000;
$yellow: #f5d76e;
$header-black: #2f2f2f;
$paragraph-black: #28211f;
$grey: #39312f;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
  font-family: 'Playfair-Display-Black';
  font-display: fallback;
  src: url('../fonts/playfairdisplayblack.ttf') format('ttf'),
  url('../fonts/playfairdisplayblack.woff') format('woff'),
  url('../fonts/playfairdisplayblack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Heavy';
  font-display: fallback;
  src: url('../fonts/latoheavy.ttf') format('ttf'),
  url('../fonts/latoheavy.woff') format('woff'),
  url('../fonts/latoheavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Semibold';
  font-display: fallback;
  src: url('../fonts/latosemibold.ttf') format('ttf'),
  url('../fonts/latosemibold.woff') format('woff'),
  url('../fonts/latosemibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Playfair, serif;
  outline: none;
  border: none;
}

body {
  background-color: $white;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  max-width: 100%;
  min-width: 320px;
}

.uppercase-h2 {
  color: $header-black;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.transp-btn {
  font-size: 13px;
  line-height: 24px;
  display: inline-block;
  background-color: transparent;
  color: $black;
  border: 2px solid $black;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Lato-Heavy, sans-serif;
  padding: 15px 50px;
  &:hover,
  &:visited,
  &:active,
  &:link {
    text-decoration: none;
    color: $black;
  }
}

.coffee-icon {
  margin: 55px 0;
  text-align: center;
}


//  HEADER  //

header {
  background: url('../img/coffee-shop.jpg') 0 0 / 100% no-repeat;
  margin: 15px;
  overflow: hidden;
}

.header-wrapper {
  background-color: rgba(0, 0, 0, 0.45);
  height: 700px;
  overflow: hidden;
  position: relative;
}

.header-top {
  height: 101px;
  background-color: rgba(0, 0, 0, 0.35);
  position: relative;
}

.header-menu-list {
  font-size: 17px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 223px);
  li {
    display: inline-block;
    padding: 5px;
    &:nth-child(1) {
      margin-right: 4px;
    }
    &:nth-child(2) {
      margin-right: 217px;
    }
    &:nth-child(3) {
      margin-right: 5px;
    }
    &:nth-child(4) {
      margin-right: 4px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.75em;
    &.active {
      color: $yellow;
    }
  }
}

.logo {
  position: absolute;
  top: 5px;
  left: calc(50% - 52px);
  width: 154px;
  height: 127px;
  a {
    display: block;
    line-height: 0;
  }
  img {
    width: 100%;
  }
}

.header-content {
  position: absolute;
  top: 293px;
  left: 151px;
  width: 500px;
  padding: 0 15px;
  p {
    font-size: 16px;
    color: #fff;
    font-family: Lato, sans-serif;
    padding: 0 5px 5px 3px;
    line-height: 23px;
    margin-bottom: 31px;
  }
}

h1 {
  color: $yellow;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 11px;
}

.header-transp-btn {
  padding: 13px 58px;
  margin-left: 3px;
  border-color: $white;
  color: $white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:hover,
  &:visited,
  &:active,
  &:link {
    color: $white;
  }
}


//  ABOUT  //

.about {
  margin: 15px;
  padding: 73px 20px 20px 20px;
  h2 {
    color: $header-black;
    font-size: 33px;
    margin-bottom: 25px;
    text-align: center;
    span {
      font-family: 'Playfair-Display-Black', serif;
      text-decoration: underline;
      letter-spacing: 0.8px;
    }
  }
  p {
    color: $paragraph-black;
    font-family: Lato, sans-serif;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
  }
}


//  MENU  //

.menu {
  margin: 15px;
  padding-top: 14px;
  text-align: center;
  h2 {
    margin-bottom: 53px;
  }
}

.menu-transp-btn {
  border-color: $black;
  color: $black;
  padding: 13px 65px;
  margin-bottom: 17px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &:hover,
  &:visited,
  &:active,
  &:link {
    color: $black;
  }
}

.menu-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-item {
  width: 396px;
  margin: 0 auto 51px auto; // для IE-9
  display: inline-block; // для IE-9
  &:last-child {
    .menu-item__header::before {
      background-color: rgba(245, 215, 110, 0.8);
    }
  }
}

.coffee-menu .menu-item__header {
  background: url('../img/coffee.jpg') -25px -3px/ 114.2% no-repeat;
  &::after {
    content: 'Coffee';
  }
}

.tea-menu .menu-item__header {
  background: url('../img/tea.jpg') -22px -2px/113% no-repeat;
  &::after {
    content: 'Tea';
  }
}

.dessert-menu .menu-item__header {
  background: url('../img/dessert.jpg') -17px -2px/112.5% no-repeat;
  &::after {
    content: 'Desserts';
  }
}

.menu-item__header {
  height: 294px;
  background-size: auto;
  background-position: center center;
  position: relative;
  margin-bottom: 35px;
  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(236, 236, 236, 0.8);
  }
  &::after {
    display: block;
    font-family: 'Playfair', serif;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    line-height: 294px;
    color: $black;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.menu-item__pricelist {
  table {
    margin: 0 auto;
    width: 235px;
    color: $paragraph-black;
  }
  td {
    line-height: 26px;
    &:first-child {
      font-weight: 600;
      text-align: left;
      font-family: Lato-Heavy, sans-serif;
    }
    &:last-child {
      text-align: right;
      font-family: Lato, sans-serif;
    }
  }
}


//  TESTIMONIALS  //

.testimonials {
  margin: 15px;
  padding-top: 13px;
  h2 {
    margin-bottom: 54px;
  }
}

.testimonials-bg {
  display: table-cell;
  background: $yellow url('../img/coffee-man.jpg') -4px -30px/101.6% no-repeat;
  height: 100%;
  width: calc(100% - 458px);
}

.testimonials-carousel {
  height: 425px;
  display: table;
  width: 100%;
}

.testimonials-slider-wrapper {
  margin-left: auto;
  display: table-cell;
  height: 100%;
  width: 458px;
  background-color: $grey;
  position: relative;
  &::before, &::after {
    display: block;
    opacity: 0.03;
    color: $white;
    font-weight: 700;
    position: absolute;
    z-index: 100;
  }
  &::before {
    content: '.01';
    top: 50px;
    left: 27px;
    font-size: 90px;
    line-height: 0;
    letter-spacing: 5px;
  }
  &::after {
    content: '\201D';
    bottom: -85px;
    right: 23px;
    font-size: 180px;
  }
}

.t-slider {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
}

.t-slides {
  overflow: hidden;
}

.t-slide-items-wrapper {
  width: 300%;
  line-height: 0;
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#switch1:checked ~ .t-slides .t-slide-items-wrapper {
  margin-left: 0;
}

#switch2:checked ~ .t-slides .t-slide-items-wrapper {
  margin-left: -100%;
}

#switch3:checked ~ .t-slides .t-slide-items-wrapper {
  margin-left: -200%;
}

#switch1:checked ~ .t-active label:nth-child(1),
#switch2:checked ~ .t-active label:nth-child(2),
#switch3:checked ~ .t-active label:nth-child(3) {
  background-color: transparent;
  border: 1px solid #ececec;
  width: 11px;
  height: 11px;
  margin-left: -1px;
}

.t-slide-item {
  width: 33.33%;
  float: left;
  margin: 98px 0 32px 0;
  img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin-bottom: 12px;
  }
  h3 {
    color: $yellow;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 11px;
  }
  p {
    color: $white;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 260px;
    line-height: 21px;
  }
}

.t-active {
  margin: 0 auto;
  width: 49px;
  text-align: center;
  label {
    background-color: #ececec;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.testimonials + .coffee-icon {
  margin: 81px 0 54px 0;
}


//  LOCATION  //

.location {
  padding-top: 15px;
  margin: 15px;
  h2 {
    margin-bottom: 54px;
  }
  .location-map {
    display: table-cell;
    background: url('../img/map-bg.jpg') center / cover no-repeat;
    vertical-align: middle;
    width: calc(100% - 460px);
    height: 100%;
    overflow: hidden;
    line-height: 0;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.location-content {
  width: 100%;
  height: 425px;
  display: table;
}

.location-text {
  display: table-cell;
  width: 458px;
  height: 100%;
  padding: 55px 55px 0 47px;
  background-color: $yellow;
  color: $paragraph-black;
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 3px;
    &:nth-of-type(1) {
      margin-bottom: 14px;
    }
    &:nth-of-type(2) {
      margin-bottom: 19px;
    }
    &:nth-of-type(3) {
      margin-bottom: 17px;
    }
  }
  p {
    font-family: Lato-Semibold, sans-serif;
    margin-bottom: 29px;
    line-height: 24px;
    font-size: 17px;
    padding-left: 2px;
  }
  table {
    width: 180px;
    margin-bottom: 38px;
    font-size: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-of-type {
      tr:first-child {
        td {
          padding-bottom: 9px;
        }
      }
    }
  }
  td {
    font-family: Lato, sans-serif;
    &:first-child {
      font-weight: 700;
    }
    &:last-child {
      text-align: right;
    }
  }
}


//  FOOTER  //

.footer {
  background: $grey;
  color: $white;
  height: 320px;
  padding: 94px 10px 0 10px;
  p {
    font-family: Lato sans-serif;
    font-weight: 700;
    letter-spacing: 0.65px;
    font-size: 16px;
    text-align: center;
  }
}

.f-social-icons {
  width: 131px;
  margin: 0 auto 38px auto;
  line-height: 0;
}

.f-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 19px;
  &:nth-child(2) {
    margin-right: 23px;
  }
  &:last-child {
    margin-right: 0;
    a, img {
      width: 25px;
    }
  }
  a, img {
    width: 26px;
    height: 26px;
    display: block;
  }
}
